<h1>Make a Dream</h1>

<form method="POST" action="/dreams">

  <label for="dream_name">Name: </label>
  <input type="text" name="dream[name]" id="dream_name">
  <label for="dream_intensity">Intensity: </label>
  <input type="number" name="dream[intensity]" id="dream_intensity">

  <input type="submit" name="submit" value="Make a Dream!">
</form>
