<h1>New Form 🤓 </h1>

<form method="POST" action="/students">
  <label for="student_name">Name</label>
  <input type="text" name="name" id="student_name">

  <label for="student_age">Age</label>
  <input type="number" name="age" id="student_age">

  <label for="student_anxiety">Anxiety</label>
  <input type="text" name="anxiety" id="student_anxiety">

  <input type="submit" value="Make a New Student!">
</form>
