<h1>Hello, this is the Show Page.</h1>

<h2>Name: <%= @student.name %> </h2>
<p>Age: <%= @student.age %> </p>
<p>Anxiety: <%= @student.anxiety %> </p>

<form method="POST" action="/students/<%= @student.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="OBLITERATE STUDENT">
</form>
